* text=auto eol=lf

*.go text diff=golang
*.yaml text
*.yml text
*.md text
*.sh text eol=lf
*.bat text eol=crlf
Makefile text
Dockerfile text
*.gitignore text
*.editorconfig text

*.png binary
*.jpg binary
*.ico binary
